<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h1>Register</h1>

<form method="post" th:object="${user}">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input th:field="*{username}" type="text" />
        <span th:errors="*{username}"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input th:field="*{email}" type="email" />
        <span th:errors="*{email}"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input th:field="*{password}" type="password" />
        <span th:errors="*{password}"></span>
    </div>

    <input type="submit" value="Add User" />
</form>
</body>
</html>

